<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
 
</head>
<body>
  <%- include("component/header", {username:username}) %>

  <section>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet ipsum eu dolor bibendum feugiat.
      Vestibulum facilisis, odio nec blandit bibendum, nisi nunc hendrerit neque, et aliquam nulla velit id lorem.
      Proin vel turpis sit amet odio posuere dictum. Quisque tincidunt feugiat nunc, quis ultrices tortor laoreet ut.
      Donec euismod nunc at ligula egestas, eu suscipit odio rutrum. Etiam at eleifend urna, at laoreet nunc.
      Nulla euismod sem vel elit laoreet dictum. Donec at tellus ullamcorper, facilisis arcu vel, ultrices arcu.
      Fusce tincidunt, urna sit amet ultrices tempus, lorem nulla aliquet elit, nec tristique justo est nec felis.
      Duis vitae turpis sit amet justo ultrices ullamcorper. Etiam nec turpis a magna accumsan consequat.</p>
    <p>Phasellus sed tincidunt velit. Maecenas a tellus in mauris malesuada egestas. Quisque sit amet eleifend mi.
      Fusce nec urna quis enim varius iaculis at sit amet eros. Suspendisse potenti. Nam in quam in quam convallis
      lacinia. Curabitur pharetra urna eget risus fringilla, vel ullamcorper elit varius.</p>
  </section>
</body>
</html>
